
01_data/input/glassdoor/glassdoor.csv
01_data/input/glassdoor/country_names_2_digit_codes.csv
.ipynb_checkpoints/top_ds_skills-v1.1-checkpoint.ipynb
01_data/output/df_aws.csv
01_data/output/sample_aws_cl.csv
01_data/output/sample_az_cl.csv
01_data/output/samples_manual.csv
top_ds_skills-test.ipynb
top_ds_skills-v1.1.ipynb


